*{

margin: 0;
padding: 0;	
}

body {
	font-family: 'Comic Relief', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	//background: rgb(146, 198, 222);
}
h1 {
	font-family: 'Underdog', sans-serif;
	font-size: 2.3rem;
	line-height: 5rem;
	color: orange;
	left: 10px;
}
a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}
ul {
	list-style: none;
}
img { 
	max-widht: 100%;
}
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 50px;
}
.navlinks {
	position: fixed;
	top: 0.75rem;
	display: flex;
	list-style: disc;
	gap: 2rem; /* spacing between items */
	padding: 13px 20px;
	margin: 0;
	list-style: none;
}
.navlinks li a:hover{
	transition-duration: 0.5s;
	color: rgb(255, 170, 33);
	}

.main-menu{
	display: flex;
	justify-content: center;
}



//.btn {
	display: inline-block;
//padding: 13px 20px;
	background: lightcyan
}
